<%= render "shared/error", obj:@favorite %>
<div class="search_form">
  <%= form_with scope: :search, url: novels_search_path, local: true, method: :get do |f| %>
    <label>
      <span>検索</span>
      <%= f.search_field :word, placeholder: "検索ワードを入力", class: "search_field", value: @search_params[:word] %>
    </label><br>
    <label>
      <span>除外</span>
      <%= f.search_field :notword, placeholder: "除外ワードを入力", class: "search_field", value: @search_params[:notword] %>
    </label><br>
    <div class="accordion-container">
      <div class="accordion-title js-accordion-title">
        <p>ジャンル選択</p>
      </div>
      <div class="accordion-content">
        <% @genres.each do |genre| %>
          <label>
            <%= f.check_box :genre_parameters, {multiple: true, checked: Array(@search_params[:genre_parameters]).include?(genre.parameters)}, genre.parameters, nil %>
            <%= genre.name %>
          </label><br>
        <% end %>
      </div>
    </div>
    <div class="accordion-container">
      <div class="accordion-title js-accordion-title">
        <p>ジャンル除外指定</p>
      </div>
      <div class="accordion-content">
        <% @genres.each do |genre| %>
          <label>
            <%= f.check_box :notgenre_parameters, {multiple: true, checked: Array(@search_params[:notgenre_parameters]).include?(genre.parameters)}, genre.parameters, nil %>
            <%= genre.name %>
          </label><br>
        <% end %>
      </div>
    </div>
    <p>--------------------------------------------</p>
    <label>
      <%= f.check_box :stop, { checked: Array(@search_params[:stop]).eql?(["true"]) }, "true", "false" %>
      長期連載停止中の小説を除外する
    </label><br>
    <p>--------------------------------------------</p>
    <p>抽出する小説の会話率を％単位で指定できます。</p>
    <span>会話率が</span>
    <%= f.number_field :kaiwaritu_min, min: 0, max: 100, value: @search_params[:kaiwaritu_min] %>
    <span>%から</span>
    <%= f.number_field :kaiwaritu_max, min: 0, max: 100, value: @search_params[:kaiwaritu_max] %>
    <span>%までの作品を抽出します。</span>
    <p>--------------------------------------------</p>
    <p>文体指定（＊試験提供機能のため適切な結果でない場合があります。）</p>
    <% @buntais.each do |buntai| %>
      <label>
        <%= f.check_box :buntai_parameters, { multiple: true, checked: Array(@search_params[:buntai_parameters]).include?(buntai.parameters) }, buntai.parameters, nil %>
        <%= buntai.name %>
      </label><br>
    <% end %>
    <p>--------------------------------------------</p>
    <%= f.collection_select(:order_parameters, @orders, :parameters, :name, {selected: @search_params[:order_parameters]} ) %><br>
    <% if user_signed_in? %>
      この検索条件をお気に入り登録しますか？<%= f.radio_button :registration, "yes" %>はい<%= f.radio_button :registration, "no", checked:true %>いいえ
      <%= f.hidden_field :user_id, value: @user.id %>
    <% end %><br>
    <%= f.submit "検索", class: "search_btn" %>
  <% end %>
</div>
<div>
  <p><%= @search_params %></p>
  <p><%= @api %></p>
  <p class="test">test</p>
  <% i = 1 %>
  <% while @hash[i].present? do %>
    <% @hash[i].each do |key, value| %>
      <p><%= key %> : <%= value %></p>
    <% end %>
    <% i = i +1 %>
    <p>--------------------------------------------</p>
  <% end %>
</div>
