<div class="search_form">
    <%= form_with scope: :search, url: novels_search_path, local: true, method: :get do |f| %>
        <%= f.search_field :word, placeholder: "キーワード名を入力", class: "search_field", value: @search_params[:word] %><br>
        <% @genres.each do |janru| %>
        <label>
          <%= f.check_box :genre, {multiple: true, checked: Array(@search_params[:genre]).include?(janru.parameters)}, janru.parameters, nil %>
          <%= janru.name %>
        </label><br>
        <% end %>
        <%= f.select :order, [ ["総合ポイントの高い順", "hyoka"], ["ブックマーク数の多い順", "favnovelcnt"],
         ["年間ポイントの高い順", "yearlypoint"] ,["四半期ポイントの高い順", "quarterpoint"], ["月間ポイントの高い順", "monthlypoint"],
         ["週間ポイントの高い順", "weeklypoint"] ], selected: @search_params[:order] %>
        <%= f.submit "検索", class: "search_btn" %>
    <% end %>
</div>
<div>
  <p><%= @search_params %></p>
  <p><%= @api %></p>
  <% i = 1 %>
  <% while @hash[i].present? do %>
    <% @hash[i].each do |key, value| %>
      <p><%= key %> : <%= value %></p>
    <% end %>
    <% i = i +1 %>
    <p>--------------------------------------------</p>
  <% end %>
</div>
