<div class="search_form">
  <%= form_with scope: :search, url: novels_search_path, local: true, method: :get do |f| %>
    <%= f.search_field :word, placeholder: "キーワード名を入力", class: "search_field", value: @search_params[:word] %><br>
    <div class="accordion-container">
      <div class="accordion-title js-accordion-title">
        <p>ジャンル選択</p>
      </div>
      <div class="accordion-content">
        <% @genres.each do |janru| %>
          <label>
            <%= f.check_box :genre, {multiple: true, checked: Array(@search_params[:genre]).include?(janru.parameters)}, janru.parameters, nil %>
            <%= janru.name %>
          </label><br>
        <% end %>
      </div>
    </div>
    <p>--------------------------------------------</p>
    <label>
      <%= f.check_box :stop, { checked: Array(@search_params[:stop]).eql?(["1"]) }, "1", nil %>
      長期連載停止中の小説を除外する
    </label><br>
    <p>--------------------------------------------</p>
    <p>抽出する小説の会話率を％単位で指定できます。</p>
    <span>会話率が</span>
    <%= f.number_field :kaiwaritu_min, min: 0, max: 100, value: @search_params[:kaiwaritu_min] %>
    <span>%から</span>
    <%= f.number_field :kaiwaritu_max, min: 0, max: 100, value: @search_params[:kaiwaritu_max] %>
    <span>%までの作品を抽出します。</span>
    <p>--------------------------------------------</p>
    <p>文体指定（＊試験提供機能のため適切な結果でない場合があります。）</p>
    <% @buntais.each do |bun| %>
      <label>
        <%= f.check_box :buntai, { multiple: true, checked: Array(@search_params[:buntai]).include?(bun.parameters) }, bun.parameters, nil %>
        <%= bun.name %>
      </label><br>
    <% end %>
    <p>--------------------------------------------</p>
    <%= f.collection_select(:order, @orders, :parameters, :name, {selected: @search_params[:order]} ) %>
    <%= f.submit "検索", class: "search_btn" %>
  <% end %>
</div>
<div>
  <p><%= @search_params %></p>
  <p><%= @api %></p>
  <p class="test">test</p>
  <% i = 1 %>
  <% while @hash[i].present? do %>
    <% @hash[i].each do |key, value| %>
      <p><%= key %> : <%= value %></p>
    <% end %>
    <% i = i +1 %>
    <p>--------------------------------------------</p>
  <% end %>
</div>
