<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "設定する" %>
  </div>
<% end %>

<%= link_to "パスワードを変更する", password_edit_path %><br>
<%= link_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントの全ての情報が削除されます。本当に削除しますか?" }, method: :delete %>
